.row
  .col-md-6
    = semantic_form_for(:user, url: roles_admin_conference_path(@conference.short_title), remote: true) do |f|
      %h4
        = f.input :roles, collection: @roles, label: 'Show users for role: ', class: '`col-md-6'
      = f.action :submit, as: :button, label: "Show Users", button_html: {value: 'Show', class: 'btn btn-success'}
    %p.text-muted
      = @role.first.description
%hr
= render partial: 'roles'
