.unobtrusive-flash-container
.row
  .col-md-12
    %h2
      - if @tag.new_record?
        New
      Tag
      = @tag.name.titleize if @tag.name

= semantic_form_for @tag, url: (@tag.new_record? ? admin_conference_tags_path(@conference.short_title) : admin_conference_tag_path(@conference.short_title, @tag.name)) do |f|
  .row
    .col-md-5
      = f.inputs 'Details' do
        = f.input :name
        = f.input :description

      = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }

    - if ( can? :add_user, @tag ) && !@tag.new_record?
      .col-md-7
        = f.inputs 'Add user' do
          = f.fields_for :user do |u|
            = u.label 'Name: '
            .input-group
              = u.input :name, label: false
              .input-group-btn
                = link_to 'Find', find_user_admin_conference_tag_path(@conference.short_title, @tag.name), id: 'user-find', method: 'post', class: 'btn btn-primary'

  .row.col-md-12
    #users_area
      = render partial: 'users', locals: { users: @users } unless @users.blank?

:javascript
  $('input[id="tag_user_name"]').keyup(function() {

    var url = $('#user-find').attr('href');

    $.ajax({
      url: url,
      type: 'POST',
      data: { user: { name: $(this).val() } },
      dataType: 'script'
    });
  });
