.page-header
  %h3 Users (#{users.length})
- if users.present?
  %table.table.table-striped.table-bordered.table-hover.datatable#users
    %thead
      %th.col-md-1
      %th ID
      %th Name
      %th Email
    %tbody
      - users.each do |user|
        %tr
          %td.text-right
            = hidden_field_tag "tag[user_ids][]", nil
            = check_box_tag "tag[user_ids][]", user.id, @tag.users.include?(user), id: dom_id(user)
          %td= user.id
          %td= user.name
          %td= user.email
- else
  %h5 No users found!
