.unobtrusive-flash-container
.row
  .col-md-12
    .page-header
      %h2
        Tag
        = @tag.name.titleize
        - if can? :edit, @tag
          = link_to 'Edit', edit_admin_conference_tag_path(@conference.short_title, @tag.name), class: 'btn btn-primary pull-right'
      .text-muted
        = @tag.description

    %h3 Users (#{@users.length})
    - if @users.present?
      %table.table.table-striped.table-bordered.table-hover.datatable#users
        %thead
          %th ID
          %th Name
          %th Email
        %tbody
          - @users.each do |user|
            %tr
              %td= user.id
              %td= user.name
              %td= user.email
    - else
      %h5 No users found!

