.page-header
  %h2= @selection.humanize.titleize
.unobtrusive-flash-container
.row
  .col-md-12
    .form-inline
      = semantic_form_for :role, url: add_user_admin_conference_role_path(@conference.short_title, @selection), method: :patch, remote: true do |f|

        = f.label "Select user to add role #{@selection.humanize.titleize}:"
        %br
        .input-group
          = f.fields_for :user do |u|
            = u.input :email, collection: User.all.order(email: :asc).map { |u| u.email }, include_blank: 'Select user', label: false

          .input-group-btn
            = f.action :submit, as: :button, label: 'Add User', button_html: {value: 'Add', class: 'btn btn-md btn-primary'}

.row
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover.datatable#users
      %thead
        %th ID
        %th Name
        %th Email
      %tbody
        - Role.get_users(@role).each do |user|
          %tr
            %td
              = link_to remove_user_admin_conference_role_path(@conference.short_title,
                                                                @selection,
                                                                user_id: user.id),
                method: :patch,
                remote: true,
                title: 'Remove user',
                data: { confirm: "Are you sure you want to revoke role #{@selection} from user #{user.email}" } do
                %i{class: 'fa fa-times'}
              = user.id
              %td= user.name
              %td= user.email
