.row
  .col-md-12.page-header
    %h2
      Roles
      - if can? :create, Role.new(resource: @conference)
        = link_to 'Add New Role',
          new_admin_conference_role_path(@conference.short_title),
          class: 'btn btn-primary pull-right'
    .text-muted
      The available roles for the conference


  .col-md-4
    - @actionables.each do |role|
      %u
        = link_to role['name'],
          admin_conference_role_path(@conference.short_title, format_role(role['name']))

      .text-muted
        = role['description']

  .col-md-4
    - @labels.each do |role|

      - unless (role_record = Role.find_by(name: format_role(role), resource: @conference)).blank?
        - if can? :edit, role_record
          = link_to edit_admin_conference_role_path(@conference.short_title,
                                                                  format_role(role)) do
            %i{class: 'fa fa-edit'}

      %u
        = link_to role,
          admin_conference_role_path(@conference.short_title, format_role(role))

      .text-muted
        = Role.get_description(role, @conference)
